.qrcode {
    width: 95%;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 21cm;
    min-height: 27cm;
    max-height: 29.7cm;
    font-size: 13px;
}

.wrapper {
    border: 1.5px solid #333;
    padding: 5px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.no-margin {
    margin: 0;
}

.relative {
    position: relative;
}

.floating-mid {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    position: absolute;
    top: 1px;
    background: #fff;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.w50 {
    width: 50%;
}

th {
    border: 1px solid #000;
    background: #ccc;
    padding: 5px;
}

td {
    padding: 5px;
    font-size: 11px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.text-20 {
    font-size: 20px;
}