<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'templates\header\header.css' %}"/>
{% endblock %}


<!-- Header Navbar -->
<header>
  <nav class="navbar">
    <div class="logo">🍞 La Primera SA</div>
    <ul class="nav-links">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="{% url 'facturador' %}">Facturacion</a></li>
      <li><a href="#ofertas">Ofertas</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </nav>
</header>

          
